<table>
        <tr>
               <td align="center" style="background-color:#ebebeb;padding:10px;">
               <!-- <img src="https://s3-us-west-2.amazonaws.com/textoclick/common/textoclick_sm.png" width="157" height="37"> -->
               <h2>EstadioTotal</h2>
               </td>
        </tr>
        <tr>
               <td style="padding-top:40px; padding-bottom:40px;">
                    Hola <strong><%= user.username %> </strong><br><br>
                     Gracias por registrate a <strong>EstadioTotal.</strong> activa tu cuenta ahora mismo da 
                     <a href="<%= user.backend_url %>/activation/<%= user.activationCode %>">click aquí</a>
                     <br><br>
                     Si tienes algún problema con el enlace puedes copiar y pegar el siguiente link en tu navegador
                     <a href="<%= user.backend_url %>/activation/<%= user.activationCode %>">
                     <%= user.backend_url %>/activation/<%= user.activationCode %>
                     </a><br><br>
                     Atentamente: <br>
                     <strong>Equipo de EstadioTotal</strong>
                     </td>
        </tr>
        <tr>
               <td align="center" style="height:70px;background-color:#ebebeb; color:#6b6b6b;">Textoclick 2800 painted lake circle, The Colony TX</td>
        </tr>
</table>
